{% extends "main-styles.html" %}

{% block tabs %}
{{ super() }}

<div class="main-global">

  <div class="main-container-section">
    <div class="section-title">
      A propos
    </div>

    <div class="section-content">
      <div class="faker-margin-external"></div>
      <div style="display: flex;" class="assets">
        <img src="./ressource/img/profile/photo.jpeg" style="border-radius:50%;" class="assets-image">
      </div>

      <div class="faker-margin-center"></div>

      <div class="section-content-paragraph">
        <div class="subsection-title">
          Bastien MAURICE
        </div>
        <div class="subsection-paragraph">
          Ingénieur en génie logiciel de formation, je suis aujourd’hui Platform Engineer à Bordeaux, France. Ex Betclic, Thales.
          <br><br>
          Je m'intéresse aussi au domaine du Machine & Deep learning.
          <br><br>
          Passions 🏄🏐🏋⛺
        </div>
      </div>

      <div class="faker-margin-external"></div>


    </div>

  </div>

  <div class="main-container-section">
    <div class="section-title">
      Blog
    </div>

    <div class="section-content">
      <div class="faker-margin-external"></div>

      <div class="assets">
        <img src="./ressource/img/deeplylearning/logo.png" class="assets-image">
      </div>

      <div class="faker-margin-center"></div>

      <div class="section-content-paragraph">
        <div class="subsection-title">
          Deeply learning
        </div>
        <div class="subsection-paragraph">
          Focus sur le thème de la data science, machine & deep learning. Un poil de React native, Angular et Electron.
          <br><br>
          🔥 Co-écriture d'une thèse en médecine avec le Dr/Chirurgien NGUYEN sur la segmentation de lésions carieuses à
          partir de radiographies par un réseau de neurones à convolution.
          <p>
            <a href="https://deeplylearning.fr" target="_blank">
              🔗 https://deeplylearning.fr
          </p>


          </a>
        </div>
      </div>

      <div class="faker-margin-external"></div>


    </div>

  </div>

  <div class="main-container-section">
    <div class="section-title">
      Support
    </div>
    <div class="section-content">
      <div class="faker-margin-external"></div>
      <div class="section-donation-badges">
        <a href="https://paypal.me/bmaurice" target="_blank">
          <img src="https://img.shields.io/badge/PayPal-00457C?style=for-the-badge&logo=paypal&logoColor=white"
            alt="PayPal" width="200px">
        </a>
        <a href="https://ko-fi.com/Momotoculteur" target="_blank">
          <img src="https://img.shields.io/badge/Ko--fi-F16061?style=for-the-badge&logo=ko-fi&logoColor=white"
            alt="Ko-Fi" width="200px">
        </a>
      </div>

      <div class="faker-margin-center"></div>

      <div class="section-content-paragraph">
        <div class="subsection-paragraph">
          ☕️ Si tu souhaites soutenir mon travail, tu peux m'offrir un café ici.
        </div>
      </div>

      <div class="faker-margin-external"></div>

    </div>
  </div>

  <div class="main-container-section">
    <div class="section-title">
      Contact & Projets
    </div>
    <div class="network-content">
      <div class="faker-margin-external"></div>

      <a href="https://www.linkedin.com/in/bmaurice10/" target="_blank">
        <i class="fa-brands fa-linkedin-in fa-10x"></i>
      </a>

      <div class="network-icons-spacing"></div>

      <a href="https://github.com/Momotoculteur" target="_blank">
        <i class="fa-brands fa-github fa-10x"></i>
      </a>

      <div class="network-icons-spacing"></div>

      <a href="https://gitlab.com/Momotoculteur" target="_blank">
        <i class="fa-brands fa-gitlab fa-10x"></i>
      </a>

      <div class="network-icons-spacing"></div>

      <a href="ressource/cv/cv.pdf" target="_blank" style="font-size: 95px;font-weight: 900;text-align: center;">
        CV
      </a>


      <div class="faker-margin-external"></div>
    </div>


  </div>



</div>

{% endblock %}
{% block content %}{% endblock %}
{% block footer %}{% endblock %}