{% extends "main.html" %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/brands.min.js" integrity="sha512-IZeK0c+nwCpZdoWLUoguVYEnBOwOnS3eTyS5Eg57YCk41x2NphG1E/vSa886whDSXG7vGauI8mmbP5PI/VC5LQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock %}

{% block tabs %}
{{ super() }}

<!-- COMMON -->
<style>
    @media (min-width: 1024px) {
        .section-title {
            font-size: 50px;
            font-variant: small-caps;
            font-weight: 700;
        }

        .subsection-title {
            font-size: 30px;
            font-weight: 500;
        }

        .main-container-section{
            margin-top: 100px;
            margin-bottom: 100px;
            margin-left: 10%;
            margin-right: 10%;
        }

        .second-container-section {
            display: flex;
            flex-direction: row;
        }

        .content-item-part {
            display: flex;
            flex: 2;
            align-items: center;
            justify-content: center;

        }

        .title-item-part {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;

        }

        a:hover {
            color: green;
        }

    }

</style>

<!-- SECTION 1 -->
<style>
    @media (min-width: 1024px) {



    }

    @media (min-width: 1px) and (max-width: 539px) {
        .first-s-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

    }
</style>

<!-- SECTION BLOG -->
<style>

</style>

<!-- SECTION RESEAU SOCIAUX -->
<style>

</style>

<!-- Hack degage le footer -->
<style>
    .md-header {
        position: initial
    }

    .md-main__inner {
        margin: 0;
        visibility: hidden;
        height: 0;
        padding: 0;
    }

    .md-content {
        display: none;
        visibility: hidden;
        height: 0;
        padding: 0;

    }

    @media screen and (min-width:60em) {
        .md-sidebar--secondary {
            display: none;
            visibility: hidden;
            height: 0;
            padding: 0;

        }
    }

    @media screen and (min-width:76.25em) {
        .md-sidebar--primary {
            display: none;
            visibility: hidden;
            height: 0;
            padding: 0;

        }
    }
</style>


{% endblock %}