# Infos projet
site_name: Bastien MAURICE
site_author: Bastien MAURICE
site_url: https://bastienmaurice.fr
site_dir: public
copyright: Copyright &copy; 2023 - 2026 Bastien MAURICE
site_description: |
  Développeur en génie logiciel de formation, je suis aujourd'hui avec quelques années d'expériences Platform Engineer chez Betclic (Ex. Thales, Bordeaux, France).
  Je m'intéresse aussi au domaine du machine & deep learning.

extra_css:
  - assets/css/extra.css
extra_javascript:
  - assets/js/lazyload-iframes.js
extra:
  generator: false
  homepage: https://bastienmaurice.fr
  social:
    - icon: fontawesome/brands/linkedin-in
      link: https://www.linkedin.com/in/bmaurice10/
    - icon: fontawesome/brands/github
      link: https://github.com/Momotoculteur
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@deeplylearning5754
    - icon: material/web
      link: https://deeplylearning.fr/
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/Momotoculteur
    - icon: fontawesome/brands/paypal
      link: https://www.paypal.com/paypalme/bmaurice
    - icon: fontawesome/solid/gift
      link: https://ko-fi.com/Momotoculteur
    - icon: fontawesome/solid/paper-plane
      link: mailto:bastien_maurice@hotmail.com

theme:
  custom_dir: overrides
  icon:
    logo: material/code-tags
  favicon: ressource/img/favicon/icon.png
  language: fr
  font:
    text: Roboto
    code: Roboto Mono
  name: material
  palette:
    - scheme: default
      primary: teal
      accent: green
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: teal
      accent: green
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.path
    - navigation.prune
    - navigation.indexes
    - navigation.footer
    - toc.follow
    #- toc.integrate
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
plugins:
  - render_swagger:
  - git-committers:
      enabled: !ENV [CI, false]
      repository: Momotoculteur/bastienmaurice-website
      branch: master
  #- git-authors
  - git-revision-date-localized:
      enable_creation_date: true
      exclude:
        - index.md
  - search:
      lang: fr
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - blog:
      enabled: true
      post_date_format: long
      post_url_date_format: yyyy
      blog_dir: blog
      blog_toc: false
      post_url_max_categories: 1
      post_slugify_separator: "-"
      post_excerpt_max_authors: 1
      post_excerpt_max_categories: 5
      post_excerpt_separator: <!-- more -->
      post_readtime: true
      post_readtime_words_per_minute: 265
      archive: true
      archive_name: Archive
      archive_toc: false
      categories: true
      categories_name: Categories
      categories_slugify_separator: "-"
      categories_toc: false
      pagination: true
      pagination_per_page: 10
      authors: true
      draft: false
      draft_on_serve: true
      draft_if_future_date: false

nav:
  - Accueil: index.md
  - CI/CD:
      # - Comparatif des plateformes [TODO]: cicd/introduction/plateforme.md
      # - Setup des self-hosted runners [TODO]: cicd/introduction/self-hosted-runner.md
      - Creer un micro-service:
          - Frontend: cicd/micro-service/frontend.md
          - Backend: cicd/micro-service/backend.md
          - Tests: cicd/micro-service/test.md
          - Docker: cicd/micro-service/docker.md
          - Helm Charts: cicd/micro-service/helm-charts.md
      - Intégration continue:
          - Stage Dependencies: cicd/integration-continue/dependencies.md
          - Stage Static-analysis: cicd/integration-continue/static-analysis.md
          - Stage Security-analysis (SAST): cicd/integration-continue/security-analysis-sast.md
          - Stage Build: cicd/integration-continue/build.md
          - Stage Unit-testing: cicd/integration-continue/unit-testing.md
          - Stage Integration-Testing: cicd/integration-continue/integration-testing.md
          - Stage Helm: cicd/integration-continue/helm.md
          - Stage Quality-Gate: cicd/integration-continue/quality-gate.md
          - Stage Cross-Browser-Testing: cicd/integration-continue/cross-browser-testing.md
          - Stage Visual regression: cicd/integration-continue/visual-regression.md
      - Deploiement continu:
          - Deploy sur Gitlab Pages son site web: cicd/deploiement-continu/deploy-gitlab-pages-static-website.md
          #- Deploy sur AWS S3 Bucket son site web: cicd/deploiement-continu/deploy-aws-s3-bucket-static-website.md
      - Nightly:
          - Stage Load-testing: cicd/nightly/load-testing.md
          - Stage E2E-testing: cicd/nightly/e2e-testing.md
          - Stage Pentests avec OWASP ZAP (DAST): cicd/nightly/pentests-with-owasp-zap-dast.md
  - DevOps:
      - Tooling:
          - Monitorer son cluster Kubernetes efficacement: devops/tooling/monitoring-with-lens-and-k9s.md
      # - Secrets:
      # - Gère tes secrets dans Git et CI/CD via SOPS [TODO]: culture-devops/secrets/secrets-management-with-sops.md
      # - Kubernetes, Sealed Secrets
      - Exposer des metriques:
          - Kube-state-metrics: devops/expose-metrics/kube-state-metrics.md
      - Data pipeline:
          - Logs collector & aggregator avec Vector.dev: devops/data-pipeline/logs-collector-aggregator-vector.md
          - Logs collector avec Prometheus: devops/data-pipeline/logs-collector-prometheus.md
      - Alerting: 
        - Introduction à Prometheus AlertManger: devops/monitoring-stack/manage-alerts-with-grafana-alert-manager.md
      - Monitoring - Logs:
          - VictoriaLogs & Intégration dans Grafana: devops/monitoring-stack/logs-with-victoria-logs.md
          - Grafana Loki: devops/monitoring-stack/logs-with-grafana-loki.md
      - Monitoring - Métriques:
          - Grafana Mimir: devops/monitoring-stack/metrics-with-grafana-mimir.md
          - VictoriaMetrics & Intégration dans Grafana: devops/monitoring-stack/metrics-with-victoria-metrics.md
      - Monitoring - Traces:
          - Tracing applicatif avec OpenTelemetry: devops/monitoring-stack/applicative-tracing-with-open-telemetry.md
          - Tracing distribué via eBPF avec Grafana Beyla: devops/monitoring-stack/distributed-tracing-ebpf-with-grafana-beyla.md
          - Stockage des traces avec Grafana Tempo ou Jaeger: devops/monitoring-stack/traces-storage-with-grafana-tempo-and-jaeger.md
      # - Infra as code:
      # - Principes de base (TODO): culture-devops/infra-as-code/principes.md
      # - Terraform (TODO): culture-devops/infra-as-code/terraform.md
      # - Terragrunt (TODO): culture-devops/infra-as-code/terragrunt.md
      - GitOps:
          # - Principes de base (TODO): culture-devops/git-ops/principes.md
          # - FluxCD (TODO): culture-devops/git-ops/flux-cd.md
          - ArgoCD: devops/git-ops/argo-cd.md
      - Kubernetes:
        - Sécurise l'upgrade de ton cluster avec KubePug: devops/kubernetes/smooth-upgrade-with-kubepug.md
        - Sécurise l'upgrade de ton cluster avec KubeNT: devops/kubernetes/smooth-upgrade-with-kubent.md
      # - Maîtrise les coûts de ton cluster avec OpenCost ou KubeCost (TODO): culture-devops/kubernetes-finops/k8s-finops-with-opencost-and-kubecost.md
      # - Messaging:
      # - Message et stream avec RabbitMQ (TODO): culture-devops/messaging/rabbit-mq.md
  - SecOps: 
    - Infra as Code:
      - Trivy (anciennement TfSec): secops/infra-as-code/trivy-tfsec.md
      - Terrascan: secops/infra-as-code/terrascan.md
    - Cloud Provider: 
      - Sécurise ton cloud avec Prowler: secops/cloud-provider/audit-with-prowler.md
      - Sécurise ton cloud avec Kics: secops/cloud-provider/audit-with-kics.md
    - Kubernetes: 
      - Comparaison des solutions pour sécuriser ton cluster: secops/kubernetes/defense-solutions-comparison.md
      - Détection d'actions frauduleuse avec Falco: secops/kubernetes/fraud-detection-with-falco.md
      #- Blocage en temps réel de menace avec Tetragon(todo): secops/kubernetes/real-time-security-with-tetragon.md
      #- Blocage en temps réel de menace avec KubeArmor(todo): secops/kubernetes/real-time-security-with-kubearmor.md
      - Détection de point d'entrée avec KubeHound: secops/kubernetes/kubehound.md
    - Policies:
      - Définir des policies avec OpenPolicyAgent: secops/policies/define-policies-with-opa.md
    - Pentests:
      - Proxy le réseau de ton smartphone avec OWASP ZAP: secops/pentests/proxy-network-with-owasp-zap-for-mobile-apps.md
  - Platform: 
    - Modern CI:
      - Accélére tes pipelines Docker avec BuildX et BuiltKit: platform/modern-ci/buildx-and-buildkit.md
      - GitlabCI runners sous Kubernetes: platform/modern-ci/gitlabci-runners-on-kubernetes.md
  - Machine & Deep learning: https://deeplylearning.fr/
  - Slides Cours/TP:
      - Kubernetes: 
        - Certification KCNA: slides/kubernetes/certification-kcna/certification-kcna.md
      - Testing: 
        - Load testing avec Grafana K6: slides/tests/load-testing/grafana-k6.md
      - Continuous Integration/Continuous Delivery:
        - Pipeline complète avec GitlabCI : slides/continuous-integration-continuous-delivery/gitlabci-pipeline/gitlabci-pipeline.md
      - Monitoring & Alerting - TP:
        - Créer une stack d'observabilité : slides/monitoring-alerting/full-stack-observability/full-stack-observability.md
      - DevSecOps:
        - From DevOps to DevSecOps: slides/devsecops/from-devops-to-devsecops/devsecops.md
  - Blog:
      - blog/index.md

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.pathconverter:
      base_path: "" # default: ''
      relative_path: "" # default ''
      absolute: false # default: false
      tags: ""
